.asw-menu-btn {
    background: #3a6ead;
}
.asw-menu-header {
    background: #3a6ead !important;
    color: #fff;
}

.asw-footer {
    background: #3a6ead !important;
    color: #fff;
}

.asw-adjust-font div[role=button] {
    background: #3a6ead !important;
    color: #fff;
}