.asw-menu-btn {
    background: #1E2D93;
}
.asw-menu-header {
    background:#1E2D93!important;
    color: #fff;
}

.asw-footer {
    background:#1E2D93 !important;
    color: #fff;
}

.asw-adjust-font div[role=button] {
    background: #1E2D93 !important;
    color: #fff;
}
