header{
    background: radial-gradient(rgb(170, 253, 181), rgb(0, 255, 8));
    font-family :'Segoe UI';
    margin: 0;
    padding: 10px 0;
    line-height: 0.6;
    background-size: 100% 100%;
    border-bottom: #ffffff solid;
}

body{
    background-color:rgb(255, 255, 255);
    font-family: Open Sans ;
    margin: 0;
    padding: 0;
}

.volver2{
    margin: 20px 10px 20px 20px;
    text-align: left;
    font-size: 16px;
    color: black;
}
    
.volver2 a{
    color: hwb(128 0% 22%);
    text-decoration: none;

}
    
.volver2 a:hover{
    text-decoration: underline;
}

nav{
    background-color:#08f027;
    text-align: center;
    padding: px 0;
    font-family: 'Segoe UI';
    text-decoration: none;
}
nav a{
    color:rgb(10, 1, 1);
    text-decoration: none;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    color: #000000;
    border:#ff0000;
    border-radius: 10px;
    display: inline-block;
    margin: 10px 1px;
    transition: transform 0.3s, box-shadow 0.5s;
    padding: 0px 20px;
    text-align: center;
    background: linear-gradient(90deg, #ace5ac, #7bfe7b);
}    
nav a:hover {
    transform: translateY(-10px); 
    margin-left: 5px;
}      
.titulo{
    color:rgb(2, 2, 73);
    font-family: Gill Sans MT;
    margin-left: 20px;
    width: 100%;
    align-items: center;
}
h3{
    font-family:Gill Sans MT;
    color:rgb(2, 2, 73);
    width: 100%;
    text-align: left;
    align-items: left;
    font-size: 15px;
    margin:20px;
}
h2{
    margin-left: 15px
}

.header-container{
    text-align: left;
    align-items: left;
    
}

body {
    font-family: Arial, sans-serif;
}

div h1{
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}
.carousel {
    width: 150px;
    height: 400px;
    position: relative;
 
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.carousel-item img {
    width: 75% ;
    display: block;
    box-sizing: border-box;
    padding: 0%;
}

.prev, .next {
    position: absolute;
    margin-top: -205px;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px;
    box-sizing: border-box;
    margin-left:235px;
    margin-right: 235px;
}

.prev {
    left: 10px;
    border-radius: 20px;
}

.next {
    right: 10px;
    border-radius: 20px;
}
.content-cuadre{
    width: 100%;
    margin: 0auto;
}
@media screen and (min-width: 1000px){
    .carousel{
        width: 100%;
    }
}
@media screen and (max-width: 800px){
    .header-container{
        padding: 0px 0px;
        position: relative;
        left: -10px;
    }
    h1 {
        align-items: center;
        font-size: 1.3em;
        padding: 0 50px;
        margin: 0px 0px 0px ;
        position: relative;
        left: -130px;
    }
    .titulo img{
        width: 150%;
        height: 30%;
    } 
    .titulo h2{
        width: 200%;
        font-size: 1.0em;
        display: flex;
        justify-content: space-around;
        justify-content: left;
        margin: 0px;
        left: 20px;
    }
}